<header id="header" style="background-color: grey">
    <div class="wrapper">
        <div class="logo">
            <img src="" alt="logo" class="logo-img">
        </div>

        <nav class="main-nav">
            <input type="checkbox" class="menu-toggle" id="menu-toggle">
            <label class="nav-bar" for="menu-toggle">

            </label>


                
            <label class="nav-menu-icon" id="nav-menu-icon" for="menu-toggle">
                <div></div>
                <div></div>
                <div></div>
            </label>
        </nav>

    </div>
</header>
<div class="distance-block"></div>
