/* 
Buttons
*/
.btn {
    padding: 0.6rem 1.2rem;
    background-color: $secondary-color;
    color: $color-white;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}
